.nav-bar {
	// 展示区
	.nav-bar-top {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		width: 100%;
		background-color: $base-color;
		padding: 0rpx 30rpx 20rpx;
		box-sizing: border-box;
		.nav-bar-content {
			@include flex(flex-start);
			height: 60rpx;
			background-color: #fff;
			border-radius: 30rpx;
			flex-grow: 1;  // 占满父容器
			padding-left: 20rpx;
			.nav-bar-seatch-txt {
				font-size: 28rpx;
				color: $c-9;
				margin-left: 20rpx;
			}
		}
		
	}
}